body {
    margin: 0;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    background:
    linear-gradient(rgba(15,25,50,.75), rgba(15,25,50,.85)),
    url("https://images.unsplash.com/photo-1518709268805-4e9042af9f23");
    background-size: cover;
    background-position: center;
    color: white;
}


.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}


/* Cabeçalho */

header {
    text-align: center;
    background: rgba(0,0,0,.45);
    border: 3px solid #d6a84b;
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0 0 25px #d6a84b;
}


header h1 {
    font-size: 48px;
    color: #ffd76a;
}


header h2 {
    font-size: 35px;
}



/* Baú */

.bau {

    margin-top:40px;
    text-align:center;
    background:
    linear-gradient(145deg,#5b3215,#a66a25);

    border:5px solid #e7bd55;

    border-radius:25px;

    padding:40px;

    box-shadow:
    0 0 30px #ffd76a;

}


.bau-icon {

    font-size:100px;

    animation:
    flutuar 2s infinite alternate;

}


@keyframes flutuar {

from {
transform:translateY(0);
}

to {
transform:translateY(-15px);
}

}



button {

background:#ffd34d;

border:none;

padding:15px 35px;

border-radius:15px;

font-size:20px;

font-weight:bold;

cursor:pointer;

color:#4b2b00;

}


button:hover {

transform:scale(1.1);

}



/* Guildas */


.guildas {

margin-top:50px;

text-align:center;

}



.cards {

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(160px,1fr));

gap:20px;

}



.guilda {

padding:25px 10px;

border-radius:20px;

font-size:45px;

border:3px solid white;

background:
rgba(0,0,0,.5);

transition:.3s;

}


.guilda:hover {

transform:
translateY(-10px)
scale(1.05);

box-shadow:
0 0 25px white;

}


.guilda h3 {

font-size:18px;

}



/* Cores das guildas */


.fada {

border-color:#ff8bd8;

}


.chama {

border-color:#4db8ff;

}


.lobos {

border-color:#aaaaaa;

}


.cavaleiros {

border-color:#ffd34d;

}


.magos {

border-color:#b77cff;

}


.dragoes {

border-color:#ff4b3e;

}



footer {

text-align:center;

margin-top:50px;

font-size:22px;

color:#ffd76a;

}

/* TAMANHO DO BAÚ */
.chest img {
    display: block;
    width: min(280px, 45vw);
    height: auto;
    max-height: 220px;
    object-fit: contain;
    margin: 20px auto;
}
